<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>
        <%= locals.title %> | File Uploader
    </title>
</head>

<body>
    <%- include('./partials/header.ejs')%>
        <main>
            <h2>Hey, <%= currentUser.firstName + ' ' + currentUser.lastName %>
            </h2>
            <div class="container">
                <nav class="contents-nav">
                    <a href="/files">Files</a>
                    <a href="/folders">Folders</a>
                    <button>New</button>
                    <div>
                        <a href="/folders/create">Create Folder</a>
                        <a href="/files/upload">Upload File</a>
                    </div>
                </nav>
                <table class="contents-table">
                    <thead>
                        <tr>
                            <th>Folder name</th>
                            <th>Uploaded on</th>
                            <th>Last modified</th>
                            <th>Files count</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% locals.folders.forEach((folder)=> { %>
                            <tr>
                                <td>
                                    <%= folder.name %>
                                </td>
                                <td>
                                    <%= folder.createdAt %>
                                </td>
                                <td>
                                    <%= folder.updatedAt %>
                                </td>
                                <td>
                                    # for now
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
            </div>
        </main>
        <%- include('./partials/footer.ejs')%>
</body>

</html>