<%- include('./partials/header.ejs')%>
    <main>
        <div class="container">
            <%- include('./partials/table-header.ejs') %>
                <table class="contents-table">
                    <thead>
                        <tr>
                            <th>Folder name</th>
                            <th>Uploaded on</th>
                            <th>Last modified</th>
                            <th>Files</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% locals.folders.forEach((folder)=> { %>
                            <tr>
                                <td>
                                    <a href="/folders/<%= folder.id %>" class="table-row-link"></a>
                                    <%= folder.name %>
                                </td>
                                <td>
                                    <%= folder.displayCreatedAt %>
                                </td>
                                <td>
                                    <%= folder.displayUpdatedAt %>
                                </td>
                                <td>
                                    <%= folder.filesCount %>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
        </div>
    </main>
    <%- include('./partials/footer.ejs')%>