<%- include('./partials/header.ejs')%>
    <main>
        <div class="container">
            <nav class="btns-nav">
                <div class="btns-container">
                    <a href="/files" class="btn blue"><img src="/icons/arrow-left.svg" alt="arrow left back icon"
                            class="icon">Back to
                        Files</a>
                </div>
                <div class="btns-container">
                    <a href="/files/<%= locals.file.id %>/download" class="btn"><img src="/icons/download.svg"
                            alt="download icon">Download</a>
                    <button id="edit-file-btn" class="btn"><img src="/icons/edit.svg" alt="edit pencil icon">Edit</button>
                    <form action="/files/<%= locals.file.id %>/delete" method="POST">
                        <button type="submit" class="btn red"><img src="/icons/trash.svg" alt="trash icon" class="icon">
                            Trash</button>
                    </form>
                </div>
            </nav>
            <div class="single-file-row">
                <div class="single-file-col">
                    <div class="single-file-icon-wrapper">
                        <img src="<%= locals.file.icon %>" alt="<%= locals.file.icon %>" class="icon">
                    </div>
                </div>
                <div class="single-file-col">
                    <form id="edit-file-form" class="edit-file-form hidden" action="/files/<%= locals.file.id %>/edit"
                        method="POST">
                        <h2>Edit File</h2>
                        <label for="fileName">Change name</label>
                        <input type="text" id="fileName" name="name" placeholder="Your file name"
                            value="<%= locals.file.name %>">
                        <label for="folder">Move to folder</label>
                        <select id="folder" name="folderId">
                            <option value="" selected>None</option>
                            <% locals.folders.forEach((folder)=> { %>
                                <option <%=folder.id===locals.file.folderId ? 'selected' : '' %> value="<%= folder.id %>
                                        "><%= folder.name %>
                                </option>
                                <% }); %>
                        </select>
                        <div class="btns-container">
                            <button type="reset" id="edit-file-cancel-btn" class="btn">Cancel</button>
                            <button type="submit" class="btn blue">Save Changes</button>
                        </div>
                    </form>
                    <div id="single-file-info" class="single-file-info">
                        <h1>
                            <%= locals.file.name %>
                        </h1>
                        <ul class="single-file-info-list">
                            <li>
                                <span class="label">Size: </span>
                                <%= locals.file.displaySize %>
                            </li>
                            <li>
                                <span class="label">MIME Type: </span>
                                <%= locals.file.mimeType %>
                            </li>
                            <li>
                                <span class="label">Created: </span>
                                <%= locals.file.displayCreatedAt %>
                            </li>
                            <li>
                                <span class="label">Last Updated: </span>
                                <%= locals.file.displayUpdatedAt %>
                            </li>
                            <% if (locals.file.folderName) { %>
                                <li>
                                    <span class="label">Located in Folder:</span>
                                    <a href="/folders/<%= locals.file.folderId %>">
                                        <%= locals.file.folderName %>
                                    </a>
                                </li>
                                <% } %>
                        </ul>
                    </div>
                </div>
            </div>
    </main>
    <%- include('./partials/footer.ejs')%>