<%- include('.//alerts.ejs') %>
    <div class="hero">
        <h2>Welcome, <%= currentUser.firstName + ' ' + currentUser.lastName %>
        </h2>
        <p>Ready to store some files?</p>
    </div>
    <form action="/files/search" method="GET" class="searchbar">
        <button type="submit"><img src="/icons/search.svg" alt="search magnifying glass icon" class="icon"
                title="Search"></button>
        <input type="text" class="" name="q" placeholder="Search your files" value="<%= locals.searchText ?? '' %>">
    </form>
    <% if (locals.folder) { %>
        <h1>
            <%= locals.folder.name %>
        </h1>
        <% } %>
            <nav class="btns-nav">
                <div class="btns-container">
                    <a href="/files" class="btn <%= currentPath.includes('/files') ? 'active' : '' %>">Files</a>
                    <a href="/folders" class="btn <%= currentPath.includes('/folders') ? 'active' : '' %>">Folders</a>
                </div>
                <div class="btns-container">
                    <% if (currentPath.includes('/folders')) { %>
                        <button id="add-folder-btn" class="btn blue"><img src="/icons/folder-plus.svg"
                                alt="add folder icon" class="icon">Create Folder</button>
                        <% } %>
                            <% if (currentPath.includes('/files')) { %>
                                <button id="add-file-btn" class="btn blue"><img src="/icons/file-plus.svg"
                                        alt="add file icon" class="icon">Upload File</button>
                                <% } %>
                </div>
            </nav>