<%- include('./alerts.ejs') %>
    <div class="hero">
        <h2>Welcome, <%= currentUser.firstName + ' ' + currentUser.lastName %>
        </h2>
        <p>Ready to store some files?</p>
    </div>
    <form action="/files/search" method="GET" class="searchbar">
        <button type="submit"><img src="/icons/search.svg" alt="search magnifying glass icon" class="icon"
                title="Search"></button>
        <input type="text" class="" name="q" placeholder="Search your files" value="<%= locals.searchText ?? '' %>">
    </form>
    <nav class="btns-nav">
        <div class="btns-container">
            <a href="/files" class="btn">Files</a>
            <a href="/folders" class="btn">Folders</a>
        </div>
        <div class="btns-container">
            <% if (currentPath.includes('/folders') && !currentPath.match(/\/folders\/\d+/gi)) { %>
                <button id="add-folder-btn" class="btn blue"><img src="/icons/folder-plus.svg" alt="add folder icon"
                        class="icon">New Folder</button>
                <% } %>
                    <% if (currentPath.match(/\/folders\/\d+/gi)) { %>
                        <button id="edit-folder-btn" class="btn"><img src="/icons/edit.svg" alt="edit folder icon">Edit
                            Folder</button>
                        <form action="/folders/<%= locals.folder.id %>/delete" method="POST">
                            <button type="submit" class="btn red"><img src="/icons/trash.svg" alt="trash icon"
                                    class="icon">
                                Delete Folder</button>
                        </form>
                        <% } %>
                            <% if (currentPath.includes('/files')) { %>
                                <button id="add-file-btn" class="btn blue"><img src="/icons/file-plus.svg"
                                        alt="add file icon" class="icon">Upload File</button>
                                <% } %>
        </div>
    </nav>
    <div id="table-heading" class="table-heading">
        <h2>
            <%= locals.searchText ? 'Files matching: "' + locals.searchText + '"' : locals.title %>
        </h2>
    </div>